# .gitignore

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment variables file
backend/.env

# Ignore virtual environment folder (common practice)
backend/venv/
backend/.venv/

# You can add other things here, like logs or temporary files
*.log
temp/
